<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @{
        //TODO #4: Loop over the search results to display all job fields. 
    }
        @foreach (var jobs in ViewBag.jobs)
        {

            <table class="job-listing">
                <tr>
                    <td>ID :</td>
                    <td>@jobs.Id</td>
                </tr>
                <tr>
                    <td>Name :</td>
                    <td>@jobs.Name</td>
                </tr>
                <tr>
                    <td>Employer :</td>
                    <td>@jobs.Employer</td>
                </tr>
                <tr>
                    <td>Location :</td>
                    <td>@jobs.Location</td>
                </tr>
                <tr>
                    <td>Position Type :</td>
                    <td>@jobs.PositionType</td>
                </tr>
                <tr>
                    <td>Skill :</td>
                    <td>@jobs.CoreCompetency</td>
                </tr>



            </table>
        }

    </div>